*{
  box-sizing: border-box;
}
.App {
  text-align: center;
  padding: 20px;
}
h1, h2, h3, h4{
  margin:0;
  padding:0;
}
ul {
  list-style: none;
  max-width: 1600px;
  width:100%;
  padding:0;
  margin: 0 auto;
}

li {
  margin:0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items:center;
  gap: 50px;
  text-align: left;
  height: 50px;
}
span{
  max-width: 200px;
  display: inline-block;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  width:100%;
}
p{
  max-width: 100px;
  overflow: hidden;
  width:100%;
  margin:0;
  padding: 0;
}

input{
  margin-left:10px;
  margin-right: 20px;
}
input:checked+span {
  text-decoration: line-through;
}
button{
  width:80px;
  cursor: pointer;
}
